<div class="flex">
    <!-- <div class="image">
        <img id="img1" src="../../../assets/logo-white.png">
    </div> -->
    <div class="logo">
        <h1><i class="fas fa-glasses"></i>  T&T<br>Reviewer</h1>
    </div>
    <!-- <ul class="connect">
        <li style="font-size: 1.2em; font-weight: bold">CONNECT WITH US</li>
        <li><i class="fab fa-facebook-square fa-3x"></i></li>
        <li><i class="fab fa-twitter-square fa-3x"></i></li>
        <li><i class="fab fa-instagram fa-3x"></i></li>
    </ul> -->
    <p>©2020 T&T Reviewer, T&T Company. | 97 Man Thiện, Quận 9, Ho Chi Minh City</p>
</div>
