<p class="head">About Us</p>
<p>BookPage is a monthly book review publication distributed to 400,000 avid readers through subscribing bookstores and public libraries. Founded in 1988 and located in Nashville, Tennessee, BookPage serves as a broad-based selection guide to the best new books published every month. All of the content from the print edition is posted on BookPage.com each month.

    All material on BookPage.com is copyright © 1996-2019 by BookPage and ProMotion, Inc.</p>
<p class="head">Our Mission</p>
<p>Our goal is to connect every book lover with their next great read. BookPage covers all types of books—from literary fiction, history and biography to popular genres like romance and mystery—and our book reviews, author interviews and special features are informative and accessible.</p>
<p class="head">Our Editorial Policy</p>
<p>BookPage is a selection guide for new books. Our editors evaluate and select for review the best books in a variety of categories. BookPage is editorially independent; only books we highly recommend are featured. Any publisher-sponsored content is clearly labeled as such.</p>
<p class="head">Our Staff</p>
<ul>
  <li>Huynh Phuc Minh Thang | President & Founder</li>
  <li>Truong Vinh Toan | Publisher & Editor</li>
</ul>
<p class="head">A Message From Us</p>
<p>When I was in second grade, I discovered the Hardy Boys series. Ever since, I've loved to read — both for fun and to improve my mind. And I'm always looking for the next great book.

    One afternoon while I was scanning a friend's bookshelf for ideas, it struck me: when I want to know what books to read, I'd rather turn to a friend than any random person or bestseller list.
    
    So I decided to build a website – a place where I could see my friends' bookshelves and learn about what they thought of all their books. Elizabeth, my co-founder (and now my wife) wrote the site copy and I wrote the code. We started in my living room, motivated by the belief that there was a better way to discover and discuss good books, and that we could build it.
    
    Goodreads is that site. It is a place where you can see what your friends are reading and vice versa. You can create "bookshelves" to organize what you've read (or want to read). You can comment on each other's reviews. You can find your next favorite book. And on this journey with your friends you can explore new territory, gather information, and expand your mind. 
    
    Knowledge is power, and power is best shared among readers. </p>