<body>
  <section class="formLogin">
    <h4>Login</h4>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form-signin">
      <div class="form-group row rowInput" >
        <!-- <label for="iputid" class="col-2"><i class="fas fa-user" id="iconAdmin"></i></label> -->
        <input type="text" class="form-control col-12 row1Input" id="iputid" name="username" #username="ngModel" [(ngModel)]="model.username" aria-describedby="inputid_help" placeholder="UserName (*)" required autocomplete="off">
        <!-- <small id="inputid_help" class="form-text text-muted">Keep it safe.</small> -->
      </div>
      <div class="form-group row rowInput">
        <!-- <label for="inputpass"><i class="fas fa-key"></i>Password</label> -->
        <input type="password" class="form-control col-12 row1Input" id="inputpass" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password (*)" minlength="4" required autocomplete="off">
        <span style="font-size: 0.8rem;">Password must more than 4 characters</span>
      </div>
      <div class="form-group row rowInput" >
        <!-- <label for="iputid" class="col-2"><i class="fas fa-user" id="iconAdmin"></i></label> -->
        <input type="password" class="form-control col-12 row1Input" id="iputid" name="new_passowrd" #new_password="ngModel" [(ngModel)]="model.new_password" aria-describedby="inputid_help" placeholder="New password(*)" required autocomplete="off">
        <!-- <small id="inputid_help" class="form-text text-muted">Keep it safe.</small> -->
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input " id="exampleCheck1">
        <!-- <label class="form-check-label" for="exampleCheck1">Remember me!</label> -->
      </div>
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary orange" id="btn-login">Login</button>
    </form>
    <!-- <button (click)='go()' class="btn btn-primary btn-login">Submit</button> -->
    <p>Go to <a href="/auth/register"><strong>register</strong></a></p>
  </section>
  
</body>