<body>
  <section class="formLogin">
    <h4>Đổi mật khẩu</h4>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form-signin">
      <div class="form-group row rowInput" >
        <input type="text" class="form-control col-12 row1Input" id="iputid" name="username" #username="ngModel" [(ngModel)]="model.username" aria-describedby="inputid_help" placeholder="UserName (*)" required autocomplete="off">
      </div>
      <div class="form-group row rowInput">
        <input type="password" class="form-control col-12 row1Input" id="inputpass" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password (*)" minlength="4" required autocomplete="off">
        <span style="font-size: 0.8rem;">Password must more than 4 characters</span>
      </div>
      <div class="form-group row rowInput" >
        <input type="password" class="form-control col-12 row1Input" id="iputid" name="new_passowrd" #new_password="ngModel" [(ngModel)]="model.new_password" aria-describedby="inputid_help" placeholder="New password(*)" required autocomplete="off">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input " id="exampleCheck1">
      </div>
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary orange" id="btn-login">Xác nhận</button>
    </form>
  </section>
  
</body>