<div>
    <h2 style="float: left; margin-right: 20px">Danh sách các loại sách</h2>
    <div class="search row">
        <i class="fas fa-search"></i>
        <input class="form-control" type="text" name="searchBook" [(ngModel)]="searchBook" 
        autocomplete="off" placeholder="Tìm kiếm">
    </div>
</div>
<div class="row bookHome" >
    <app-book-item
    class="col-md-4 col-12" 
    *ngFor="let item of books | filter:searchBook | paginate: { itemsPerPage: 9, currentPage: p };"
    [bookinp]='item'
></app-book-item>
</div>

<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->